* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: flex;
  text-decoration: none;
  height: 40px;
}
a img {
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0px;
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-areas: "header header" "main main" "footer footer";
  align-items: stretch;
  background-color: #FAFAFA;
}

header {
  grid-area: header;
  background-color: #FFFFFF;
}
header nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
header nav h1 {
  display: flex;
  align-items: center;
  font-size: 25px;
}
header nav input {
  display: none;
}

main {
  grid-area: main;
  font-family: "Inter", sans-serif;
}
main .left {
  padding: 10px;
}
main .left ul {
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 0.4px solid rgba(34, 34, 34, 0.5);
  border-radius: 5px;
  padding: 10px;
}
main .left article {
  border: 0.4px solid rgba(34, 34, 34, 0.5);
  border-radius: 5px;
  padding: 0px;
  background-color: #FFFFFF;
  margin-top: 20px;
}
main .left article .header_post {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
main .left article .header_post .name_user {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
}
main .left article .content_post {
  padding: 20px;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
main .left article .content_post .reactions_post {
  display: flex;
  gap: 10px;
  padding: 10px;
}
main .left article .content_post .reactions_post img {
  cursor: pointer;
}
main .left article .content_post .comments_post {
  font-size: 12px;
}
main .left article .content_post .comments_post p span {
  font-weight: bolder;
}
main .left article .content_post .comments_post button {
  color: #808080;
}
main .right {
  display: none;
}

footer {
  grid-area: footer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  header nav {
    padding: 10px 20px 10px 50px;
  }
  header nav input {
    display: block !important;
    width: 400px;
    border-radius: 5px;
    border: 0.3px solid #222222;
    background: #FAFAFA;
    padding: 10px;
  }
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "left right" "left right";
    gap: 100px;
    padding: 10px 50px;
  }
  main .left {
    grid-area: left;
  }
  main .right {
    grid-area: right;
    display: block;
  }
  main .right .header_user {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 20px 0;
  }
  main .right .header_user .user_name {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  main .right .header_user .user_name h2 {
    font-size: 10px;
    font-weight: normal;
    color: #000000;
  }
  main .right .header_user .user_name h2 span {
    color: #808080;
  }
  main .right .header_user .user_name button {
    color: #1CA0F6;
  }
  main .right .contacts {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main .right .contacts h3 {
    font-size: 10px;
    color: #808080;
  }
  main .right .contacts .item {
    display: flex;
    justify-content: space-between;
  }
  main .right .contacts .item .header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  main .right .contacts .item .header span {
    font-size: 10px;
    color: #000000;
  }
  main .right .contacts .item .header a {
    height: 30px;
  }
  main .right .contacts .item button {
    font-size: 10px;
    color: #1CA0F6;
  }
}/*# sourceMappingURL=style.css.map */