@import './sass/mixins.scss';
@import './sass/reset.scss';
@import './sass/font.scss';
@import './sass/colors.scss';

body {
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  align-items: stretch;
  background-color: $color-white-second;
}

header {
  grid-area: header;
  background-color: $color-white;

  nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-family: $font-primary;
    font-weight: 400;

    h1 {
      display: flex;
      align-items: center;
      font-size: 25px;
    }

    input {
      @include hide;
    }
  }
}

main {
  grid-area: main;
  font-family: $font-secondary;

  .left {

    padding: 10px;

    ul {
      justify-content: space-between;
      background-color: $color-white;
      @include border(10px);
    }

    article {
      @include border(0px);
      background-color: $color-white;
      margin-top: 20px;

      .header_post {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);

        .name_user {
          display: flex;
          align-items: center;
          font-size: 15px;
          gap: 10px;
        }
      }

      .content_post {
        padding: 20px;
        display: flex;
        flex-direction: column;
        line-height: 25px;

        .reactions_post {
          display: flex;
          gap: 10px;
          padding: 10px;

          img {
            cursor: pointer;
          }
        }

        .comments_post {
          font-size: 12px;

          p {
            span {
              font-weight: bolder;
            }
          }

          button {
            color: $color-gray;
          }
        }
      }
    }
  }

  .right {
    @include hide;
  }
}

footer {
  grid-area: footer;
  font-family: $font-primary;
  font-weight: 400;

  background-color: $color-black-second;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {

  header {
    nav {
      padding: 10px 20px 10px 50px;

      input {
        display: block !important;
        width: 400px;
        border-radius: 5px;
        border: 0.3px solid $color-black-second;
        background: $color-white-second;
        padding: 10px;
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "left right"
      "left right";
    gap: 100px;
    padding: 10px 50px;

    .left {
      grid-area: left;
    }

    .right {
      grid-area: right;
      display: block;

      .header_user {
        display: flex;
        align-items: flex-end;
        gap: 10px;
        padding: 20px 0;

        .user_name {
          display: flex;
          justify-content: space-between;
          width: 100%;

          h2 {
            font-size: 10px;
            font-weight: normal;
            color: $color-black;

            span {
              color: $color-gray;
            }
          }

          button {
            color: $color-lightblue;
          }
        }
      }

      .contacts {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
          font-size: 10px;
          color: $color-gray;
        }

        .item {
          display: flex;
          justify-content: space-between;

          .header {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
              font-size: 10px;
              color: $color-black;
            }

            a {
              height: 30px;
            }
          }

          button {
            font-size: 10px;
            color: $color-lightblue;
          }
        }
      }
    }
  }
}