* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: flex;
  text-decoration: none;
  height: 40px;

  img {
    @include circlePhoto;
  }
}

ul {
  list-style: none;
  padding: 0px;
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}